@use "../global" as g;

.p-link__items {
  display: flex;
  flex-direction: column;
}

.p-link__btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-block: 1rem;
  width: fit-content;
}

.p-link__text {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}

.p-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 3rem;
  border: 1px solid g.$border-color-01;
}

@media (any-hover: hover) {
  .c-btn__hover-lighter:hover {
    background-color: g.$sub-color-white;

    span {
      color: g.$main-color;
    }
  }
}
