<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />

    <!-- 検索にヒットさせない -->
    <meta name="robots" content="noindex" />

    <!-- タイトル -->
    <title>Component Library</title>
    <meta name="description" content="description" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kiwi+Maru:wght@400;500&family=Noto+Sans+JP:wght@100..900&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="../../assets/css/style.css" />
  </head>
  <body>
    <div class="l-inner">
      <h1 style="font-size: 2rem; margin-block: 1rem">Component Library</h1>
      <div class="c-border-1px"></div>
      <section class="btn">
        <div class="l-inner__btn">
          <h2 style="font-size: 2rem; margin-top: 1rem">
            ボタンのホバーアクション
          </h2>
          <h3 style="font-size: 1.5rem; margin-top: 1rem">■シンプル・王道系</h3>
          <div class="c-btn__items">
            <!-- 色が薄くなる -->
            <div class="c-btn__wrapper">
              <span class="c-btn__text">色が薄くなる</span>
              <a class="c-btn__hover-lighter">
                <span>ボタン</span>
              </a>
            </div>
            <!-- 色が濃くなる -->
            <div class="c-btn__wrapper">
              <span class="c-btn__text">色が濃くなる</span>
              <a class="c-btn__hover-darker">
                <span>ボタン</span>
              </a>
            </div>
            <!-- 左からスライド -->
            <div class="c-btn__wrapper">
              <span class="c-btn__text">左からスライド</span>
              <a class="c-btn__from-left">
                <span>ボタン</span>
              </a>
            </div>
            <!-- 上からスライド -->
            <div class="c-btn__wrapper">
              <span class="c-btn__text">上からスライド</span>
              <a class="c-btn__from-top">
                <span>ボタン</span>
              </a>
            </div>
            <!-- 矢印の長さが変化 -->
            <div class="c-btn__wrapper">
              <span class="c-btn__text">矢印の長さが変化（作成中）</span>
              <a class="c-btn__arrow-extend">
                <span>more</span>
              </a>
            </div>
            <div class="c-border-1px-light"></div>
          </div>
          <h3 style="font-size: 1.5rem; margin-top: 1rem">
            ■アニメーション・動きが印象的系
          </h3>
          <div class="c-btn__items">
            <!-- ななめにスライド -->
            <div class="c-btn__wrapper">
              <span class="c-btn__text">ななめにスライド</span>
              <a class="c-btn__diagonal-slide">
                <span>ボタン</span>
              </a>
            </div>
            <!-- パカっと開く -->
            <div class="c-btn__wrapper">
              <span class="c-btn__text">パカっと開く</span>
              <a class="c-btn__from-center">
                <span>ボタン</span>
              </a>
            </div>
            <!-- 円形に開く -->
            <div class="c-btn__wrapper">
              <span class="c-btn__text">円形に開く</span>
              <a class="c-btn__like-circle">
                <span>ボタン</span>
              </a>
            </div>
            <div class="c-border-1px-light"></div>
          </div>
          <h3 style="font-size: 1.5rem; margin-top: 1rem">■その他効果</h3>
          <div class="c-btn__items">
            <!-- ホバーとリーブで時間を変える -->
            <div class="c-btn__wrapper">
              <span class="c-btn__text">ホバーとリーブで時間を変える</span>
              <a class="c-btn__different-times">
                <span>ボタン</span>
              </a>
            </div>
            <div class="c-btn__wrapper">
              <span class="c-btn__text">ホバーとリーブで時間を変える２</span>
              <a class="c-btn__different-times-2">
                <span>ボタン</span>
              </a>
            </div>
          </div>
        </div>
      </section>
      <div class="c-border-1px"></div>
    </div>
  </body>
</html>
