<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />

    <!-- 検索にヒットさせない -->
    <meta name="robots" content="noindex" />

    <!-- タイトル -->
    <title>Component Library</title>
    <meta name="description" content="description" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kiwi+Maru:wght@400;500&family=Noto+Sans+JP:wght@100..900&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="../../assets/css/style.css" />
  </head>
  <body>
    <div class="l-inner">
      <h1 style="font-size: 2rem; margin-block: 1rem">Component Library</h1>
      <div class="c-border-1px"></div>
      <section class="text-animation">
        <div class="l-inner__text-animation">
          <h2 style="font-size: 2rem; margin-top: 1rem">
            テキストアニメーション
          </h2>
          <h3 style="font-size: 1.5rem; margin-top: 1rem">
            ■アニメーション・動きが印象的系
          </h3>
          <div class="c-text-animation__items">
            <!-- 文字をなぞるアニメーション -->
            <h4 style="font-size: 1.3rem; margin-top: 1rem">
              文字をなぞるアニメーション
            </h4>
            <div class="c-text-animation__paragraph-wrapper">
              <p
                class="c-text-animation__paragraph name"
                data-txt="黒田こうすけ｜Webコーダー｜@kurodalog">
                黒田こうすけ｜Webコーダー｜@kurodalog
              </p>
              <p
                class="c-text-animation__paragraph info"
                data-txt="フリーのWebコーダー｜東京・埼玉｜LP・Webサイト／WordPressテーマ制作対応">
                フリーのWebコーダー｜東京・埼玉｜LP・Webサイト／WordPressテーマ制作対応
              </p>
              <p
                class="c-text-animation__paragraph self-introduction"
                data-txt="前職SEの経験を活かし、システム全体を見据えた実装で課題解決に貢献します。">
                前職SEの経験を活かし、システム全体を見据えた実装で課題解決に貢献します。
              </p>
              <p
                class="c-text-animation__paragraph goal"
                data-txt="テニスが大好き。将来はWebを通じて業界を支え、選手やファンが楽しめる環境づくりに携わるのが夢。">
                テニスが大好き。将来はWebを通じて業界を支え、選手やファンが楽しめる環境づくりに携わるのが夢。
              </p>
              <p
                class="c-text-animation__paragraph mail"
                data-txt="ご依頼はこちらへ kkurodalog@gmail">
                ご依頼はこちらへ kkurodalog@gmail
              </p>
            </div>
            <div class="c-border-1px-light"></div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
