<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />

    <!-- 検索にヒットさせない -->
    <meta name="robots" content="noindex" />

    <!-- タイトル -->
    <title>Component Library</title>
    <meta name="description" content="description" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kiwi+Maru:wght@400;500&family=Noto+Sans+JP:wght@100..900&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="../../assets/css/style.css" />
  </head>
  <body>
    <div class="l-inner">
      <h1 style="font-size: 2rem; margin-block: 1rem">Component Library</h1>
      <div class="c-border-1px"></div>
      <section class="c-sticky">
        <div class="l-inner__sticky">
          <h2 style="font-size: 2rem; margin-top: 1rem">position: sticky;</h2>
          <div class="c-sticky__item">
            <!-- タイトルを固定する -->
            <h3 style="font-size: 1.5rem; margin-top: 1rem">
              ■タイトルを固定する
            </h3>
            <div class="c-sticky-1__wrapper">
              <div class="c-sticky-1__text">
                <span class="c-sticky-1__head">About me</span>
                <div class="c-sticky-1__body">
                  <p class="c-sticky-1__body-text">
                    はじめまして。Webコーダーの黒田こうすけと申します。<br />埼玉県在住。都内・埼玉を中心に活動しています。
                  </p>
                  <p class="c-sticky-1__body-text">
                    技術が進化し続けるこの分野で、日々学び続ける姿勢を大切にしています。<br />正確・丁寧・迅速をモットーに、デザインの再現性にこだわったWebコーディングを行います。
                  </p>
                </div>
              </div>
              <div class="c-sticky-1__images">
                <div class="c-sticky-1__image">
                  <img
                    src="../../assets/img/sticky-image-1.jpg"
                    alt="stickyイメージ１枚目"
                    width="500"
                    height="375" />
                </div>
                <div class="c-sticky-1__image">
                  <img
                    src="../../assets/img/sticky-image-2.jpg"
                    alt="stickyイメージ２枚目"
                    width="500"
                    height="375" />
                </div>
                <div class="c-sticky-1__image">
                  <img
                    src="../../assets/img/sticky-image-3.jpg"
                    alt="stickyイメージ３枚目"
                    width="500"
                    height="375" />
                </div>
              </div>
            </div>
            <div class="c-border-1px-light"></div>
          </div>
          <div class="c-sticky__item">
            <!-- タイトルと画像を固定する -->
            <h3 style="font-size: 1.5rem; margin-top: 1rem">
              ■タイトルと画像を固定する
            </h3>
            <div class="c-sticky-2__wrapper">
              <div class="c-sticky-2__text">
                <span class="c-sticky-2__head">About me</span>
                <div class="c-sticky-2__body">
                  <p class="c-sticky-2__body-text">
                    はじめまして。Webコーダーの黒田こうすけと申します。<br />埼玉県在住。都内・埼玉を中心に活動しています。
                  </p>
                  <p class="c-sticky-2__body-text">
                    技術が進化し続けるこの分野で、日々学び続ける姿勢を大切にしています。<br />正確・丁寧・迅速をモットーに、デザインの再現性にこだわったWebコーディングを行います。
                  </p>
                </div>
              </div>
              <div class="c-sticky-2__images">
                <div class="c-sticky-2__image">
                  <img
                    src="../../assets/img/sticky-image-1.jpg"
                    alt="stickyイメージ１枚目"
                    width="500"
                    height="375" />
                </div>
                <div class="c-sticky-2__image">
                  <img
                    src="../../assets/img/sticky-image-2.jpg"
                    alt="stickyイメージ２枚目"
                    width="500"
                    height="375" />
                </div>
                <div class="c-sticky-2__image">
                  <img
                    src="../../assets/img/sticky-image-3.jpg"
                    alt="stickyイメージ３枚目"
                    width="500"
                    height="375" />
                </div>
              </div>
            </div>
            <div class="c-border-1px-light"></div>
          </div>
          <div class="c-sticky__margin"></div>
        </div>
      </section>
    </div>
  </body>
</html>
