<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />

    <!-- 検索にヒットさせない -->
    <meta name="robots" content="noindex" />

    <!-- タイトル -->
    <title>Component Library</title>
    <meta name="description" content="description" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kiwi+Maru:wght@400;500&family=Noto+Sans+JP:wght@100..900&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="../../assets/css/style.css" />
  </head>
  <body>
    <div class="c-drawer__delay-bg">
      <div class="l-inner">
        <div id="js-drawer__delay" class="c-drawer__delay">
          <div id="js-drawer__delay-content" class="c-drawer__delay-content">
            <a href="">Web制作</a>
            <a href="">Webデザイン</a>
            <a href="">Webアプリ開発＆Java</a>
            <a href="">Shopify</a>
            <a href="">LINE構築</a>
            <a href="">Python</a>
            <a href="">AIライティング</a>
            <a href="">動画編集</a>
            <a href="">Webマーケ</a>
            <a href="">営業支援</a>
          </div>
          <button
            id="js-drawer__delay-icon"
            class="c-drawer__delay-icon"
            aria-label="メニューを開く">
            <span class="c-drawer__delay-icon-bar"></span>
            <span class="c-drawer__delay-icon-bar"></span>
          </button>
        </div>
      </div>
    </div>

    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      defer></script>
    <script src="../../assets/js/script.js" defer></script>
  </body>
</html>
