@use "../global" as g;

// ------------------
// 共通
// ------------------
.c-diagram__items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.c-diagram__wrapper {
  margin-block: 1rem;
  margin-inline: 1rem;
}

// ------------------
// 扉が開くようなアニメーション
// ------------------
.c-diagram-door__wrapper {
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 1rem;
  height: auto;
  overflow: hidden;
}

.c-diagram-door__items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  perspective: 1000px;
  perspective-origin: top;

  background: radial-gradient(white 20%, steelblue 120%);
  position: relative;
}

.c-diagram-door__inner-text {
  position: absolute;
  display: flex;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5rem;
  color: steelblue;
  font-weight: bold;
}

.c-diagram-door__btn-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  margin-block: 1rem;
  justify-content: space-between;
  align-items: center;
}

.c-diagram-door__btn-wrapper .c-btn__like-circle {
  background-color: steelblue;
  border: 2px solid steelblue;

  span {
    font-size: 2rem;
    font-weight: bold;
  }
}

@media (any-hover: hover) {
  .c-diagram-door__btn-wrapper .c-btn__like-circle:hover {
    span {
      color: steelblue;
    }
  }
}

.c-diagram-door__item {
  flex: 0 1 auto;
  transition: transform 0.6s;
  z-index: 10;
}

.c-diagram-door__item.left {
  transform-origin: left;
}

.c-diagram-door__item.right {
  transform-origin: right;
}

@media (any-hover: hover) {
  .c-diagram-door__items:hover {
    .c-diagram-door__item.left {
      transform: rotateY(60deg);
    }

    .c-diagram-door__item.right {
      transform: rotateY(-60deg);
      transform-origin: right;
    }
  }
}
