<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />

    <!-- 検索にヒットさせない -->
    <meta name="robots" content="noindex" />

    <!-- タイトル -->
    <title>Component Library</title>
    <meta name="description" content="description" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kiwi+Maru:wght@400;500&family=Noto+Sans+JP:wght@100..900&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="../../assets/css/style.css" />
  </head>
  <body>
    <div class="l-inner">
      <h1 style="font-size: 2rem; margin-block: 1rem">Component Library</h1>
      <div class="c-border-1px"></div>
      <section class="heading">
        <div class="l-inner__heading">
          <h2 style="font-size: 2rem; margin-top: 1rem">見出し</h2>
          <h3 style="font-size: 1.5rem; margin-top: 1rem">■シンプル・王道系</h3>
          <div class="c-heading__items">
            <!-- 下線 -->
            <div class="c-heading__wrapper">
              <span class="c-heading__under-line">見出しパターン１ー１</span>
            </div>
            <div class="c-border-1px-light"></div>
          </div>
          <h3 style="font-size: 1.5rem; margin-top: 1rem">
            ■アニメーション・動きが印象的系
          </h3>
          <div class="c-heading__items">
            <!-- 一文字ずつ -->
            <div class="c-heading__wrapper">
              <span class="c-heading__slide-animation">
                <span class="letter" style="--index: 0">見</span
                ><span class="letter" style="--index: 1">出</span
                ><span class="letter" style="--index: 2">し</span
                ><span class="letter" style="--index: 3">パ</span
                ><span class="letter" style="--index: 4">タ</span
                ><span class="letter" style="--index: 5">ー</span
                ><span class="letter" style="--index: 6">ン</span
                ><span class="letter" style="--index: 7">３</span
                ><span class="letter" style="--index: 8">ー</span
                ><span class="letter" style="--index: 9">１</span>
              </span>
            </div>
            <div class="c-border-1px-light"></div>
          </div>
        </div>
      </section>
      <div class="c-border-1px"></div>
    </div>
  </body>
</html>
